// ログイン後のサイドメニュー
#side {
  float: left;
  width: 150px;
  border-right: solid 2px;
  padding: 15px 15px 0 0;
  text-align: center;
  ul {
    min-height: calc(100vh - 15px - #{$header-height} );
    .name {
      padding-top: 10px;
    }
    li {
      padding-bottom: 10px;
      a {
        text-decoration: none;
        color: #187fd4;
      }
    }
  }
}