.category-contents {
  flex-basis: 740px;
  padding: 25px 0 0 30px;
  .root-name {
    font: {
      size: 29px;
      weight: bold;
    }
  }
  .parents {
    padding: 10px 0 0 15px;
    display: block;
    justify-content: space-between;
    &__parent-name {
      display: inline-block;
      width: 235px;
      padding: 3px 0;
      font-size: 18px;
      i {
        text-align: center;
        width: 25px;
        color: $menu-theme-color;
      }
    }
  }
  .selected-parent {
    padding-top: 20px;
    color: #717574;
    font: {
      size: 19px;
      weight: bold;
    }
  }
  .child-name {
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #33dfb9;
    i {
      color: $white-color;
    }
  }
  .articles {
    padding: 5px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .article {
      flex-basis: 49%;
      margin-bottom: 5px;
    }
  }
}
