#container {
  width: 100%;
  color: $font-color;
  #main {
    float: left;
    width: 750px;
    padding: 30px calc((100vw - #{$inner-width}) / 2) 0;
    .category {
      height: 200px;
      width: 100%;
      &__list {
        font-size: 24px;
      }
      &__inner {
        padding: 10px 0 0 15px;
        display: block;
        justify-content: space-between;
        &__name {
          display: inline-block;
          width: 235px;
          padding: 3px 0;
          i {
            text-align: center;
            width: 25px;
            color: $menu-theme-color;
          }
        }
      }
      .articles {
        font-weight: bold;
        padding-top: 20px;
        .inner {
          margin: 5px 0 0 15px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          ul {
            padding-top: 10px;
            i {
              color: #02c39a;
            }
            li {
              width: 350px;
              font-weight: normal;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

#container::after {
  content: "";
  display: block;
  clear: both;
}

// .menu li a:hover {
//   background-color: red;
// }